<!doctype html>
<html>
<head>
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link href="views/css/style.css" rel="stylesheet" type="text/css">
  <link href=".../views/css/success.css" rel="stylesheet" type="text/css">
  <title>Emerald International Schools</title>
  <style>



    body {
      background-color: #ecedec;
      
    }
  </style>
</head>
<body>
<% include ./includes/navbar %>
<br><br><br><br><br><br>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <a href="/" "></a>x</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p> <%= details.student_name %> <%= details.status%></p>
            </div>
        </div>
        
    </div>
</div>

<br><br><br>







<% include ./includes/footer %>
</body>
</html>